<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om oss | Kurser</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header>

        <button class="menu-btn open" id="open-menu">
          <span class="menu-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
          </span>
        </button>

        <nav id="nav-menu">
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="cross1"></span>
                    <span class="cross2"></span>
                </span>
            </button>

            <ul>
                <li><a href="/">Kurser</a></li>
                <li><a href="/addcourse">Lägg till</a></li>
                <li><a href="/about">Om uppgift</a></li>
            </ul>
        </nav>
    </header>



    <div class="about-container">
        <h1>Om uppgiften</h1>

        <div class="about-info">
            <h3>Information om hemsida</h3>
            <p>Hemsidans syfte är att kunna ta data från en databas som innehåller information om olika kurser. Dessa kurser visas på hemsidan för användaren, med detta kan användaren också även radera de kurser som redan är listade men även också lägga till kurser. Dessa kurser kommer då sparas i databasen som har skapats med MySQL och sedan listas ut på hemsidan. För backend så har det använts node.js och express för att också få en större kunskap och inblick i klient och server program. </p>
        </div>

        <div class="about-info">
            <h3>Slutsatser</h3>
            <p>Innan uppgiften hade påbörjat var jag intreserad över att få skapa en hemsida som använder både front-end och back-end. Därför även om det ibland var lite frustrerande i vissa moment, så kändes det extra bra när det väl fungerade.  </p>
            <p> Express och Node.js var rätt nytt för mig och var lite förrvirande, detta var dels på grund av alla packet man ska ladda ner men även att få allt sammarbeta tillsammans. Mer specifikt var hur jag skulle ansluta till databasen samt hur man kan interagera med den, dock efter flera repriser av läsanvisningarna så fick jag till det tillslut.</p>
        </div>
    </div>
</body>
</html>