<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till | Kurser</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header>

        <button class="menu-btn open" id="open-menu">
          <span class="menu-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
          </span>
        </button>

        <nav id="nav-menu">
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="cross"></span>
                    <span class="cross"></span>
                </span>
            </button>

            <ul>
                <li><a href="/">Kurser</a></li>
                <li><a href="/addcourse">Lägg till</a></li>
                <li><a href="/about">Om oss</a></li>
            </ul>
        </nav>
    </header>
    <h1>lägg till kurser</h1>

    <% if(locals.error) { %>
        <p>
            <%= error %>
        </p>
        <% } %>

    <form method="post">
        <label for="code">Kurskod</label>
        <input type="text" id="code" name="code">

        <br>

        <label for="name">Kursnamn</label>
        <input type="text" id="name" name="name">

        <br>

        <label for="link">Länk</label>
        <input type="text" id="link" name="link">

        <br>

        <label for="prog">Progression</label>
        <input type="text" id="prog" name="prog">

        <br>

        <input type="submit" value="Lägg till ny kurs" id="submit-btn">
    </form>
</body>
</html>