<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida | Kurser</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header>

        <button class="menu-btn open" id="open-menu">
          <span class="menu-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
          </span>
        </button>

        <nav id="nav-menu">
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="cross"></span>
                    <span class="cross"></span>
                </span>
            </button>

            <ul>
                <li><a href="/">Kurser</a></li>
                <li><a href="/addcourse">Lägg till</a></li>
                <li><a href="/about">Om oss</a></li>
            </ul>
        </nav>
    </header>

    <h1>Dina kurser</h1>
</body>
</html>