* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(30deg, #6a7cff, #9b6aff);
    background-size: cover;
    height: 100%;
    animation: bg-color 10s infinite alternate;
}

@keyframes bg-color{
    0% {
        background: linear-gradient(30deg, #6a7cff, #9b6aff);
    }
    50% {
        background: linear-gradient(30deg, #9b6aff, #6a7cff);
    }
    100% {
        background: linear-gradient(30deg, #6a7cff, #9b6aff);
    }
}


header {
    display: flex;
    justify-content: right;
    background-color: transparent;
}

nav {
    background-color: white;
    font-size: 1.2em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;
    color: white;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    padding: 0.8em 0;
    width: 100%;
}

nav a { 
    color: #6a7cff;
    text-decoration: none;
    padding: 0 1em;
}

nav a:hover {
    color: black;
}


.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color: black;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn {
    background-color: transparent;
    border: none;
}



.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
    color: white;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
    color: white;
}


@media only screen and (min-width: 900px) {
    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
        width: 100%;
        background-color: transparent
    }

    nav {
        display: block !important;
        position: static;
        right: 0;
        top: 0;
        height: auto;
        font-size: 1.4em;
        width: 100%;
        background-color: transparent;
    }

    nav ul {
        height: 100%;
        width: 100%;
        margin-top: 10px;
        margin-right: 5%;
    }

    nav li {
        display: inline;
        padding: 0.5em;
        font-size: 16px;
    }

    nav a {
        color: white;
    }

}

#add-body {
    height: 100vh;
}
.course-container {
    width: 50%;
    margin-inline: auto;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 6%;
    border-radius: 20px;
    padding: 10px;
}

.course-container h1 {
    text-align: center;
    padding: 10px;
}

.course-info {
    margin-bottom: 20px;
    border: 1.5px solid #6a7cff;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin-inline: auto;
}

.course-info h3 {
    margin-bottom: 15px;
}

.course-info p {
     margin-bottom: 10px;
}

.course-info button {
    color: white;
    border: none;
    padding: 5px 15px;
    background-color: #6a7cff;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.course-info button:hover {
    animation: fadein 1s forwards;
}

.btn-container {
    text-align: center;
    margin-bottom: 6%;
}

#addcourse-btn {
    color: white;
    border: 2px solid white;
    padding: 10px 25px;
    background-color: transparent;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

#addcourse-btn:hover {
    animation: fadein 1s forwards;
}

@keyframes fadein {
    from {
        background-color: transparent;
        color: white;
    }

    to {
        color: #9b6aff;
    background-color: white;
    }
}

@media only screen and (max-width: 860px) {
    .course-container {
        width: 80%;
    }
}

@media only screen and (max-width: 560px) {
    .course-container {
        width: 100%;
    }

    .course-info {
        width: 100%;
    }

    .course-info p{
        font-size: 12px;
    }
}

/*lägg till kurser sida*/

.add-container {
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    margin-inline: auto;
    border-radius: 20px;
    margin-top: 6%;
    padding: 10px;
}

.add-container h1{
    text-align: center;
}

.add-container p {
    color: red;
    margin-top: 10px;
    text-align: center;
}

input[type="submit"] {
    margin-top: 30px;
    cursor: pointer;
    background-color: #6a7cff;
    color: white;
    border: none;
    font-weight: bold;
    height: 40px;
}



form {
    width: 60%;
    margin-inline: auto;
    padding: 1em;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    height: 30px;
    border-color: #9b6aff;
    border-radius: 5px;
}

@media only screen and (min-width: 600px){

    .add-container {
        width: 50%;
    }
    
}